/* Desktop*/
.home{
    margin: 0 auto;
}

.main-banner{
    background-color: white;
    padding: 0 10%;

    & .banner {
        display:flex;
        background: rgba(0,0,0,.8);
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        height : 223px;

        & .img {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 25px;
            opacity: 0.6;
            object-fit: cover;
            object-position:center  center;
        }
        
        & .title{
            position: absolute;  
            display:flex;
            z-index: 3;
            font-family: "Montserrat", sans-serif;
            font-size: 48px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}

/*Breakpoints*/
/* Tablette et ordinateur */
@media (min-width: 992px) and (max-width: 1199px){
    .main-banner{
        margin: 0px 0px 0px 0px; 
        padding: 0px;

        & .banner{
            width: 88%;
            margin-left: 60px; 
            padding: 0px;
        }
    }
}

/* Mobile */
@media (min-width: 768px) and (max-width: 991px){
    .main-banner{
        margin: 0px 0px 0px 0px; 
        padding: 0px;

        & .banner{
            width: 88%;
            height: 150px;
            margin-left: 40px; 
            padding: 0px;

        & .title {
            font-size: 24px;
            } 
        }
    }
}

/*Mobile taille inférieure*/
@media (min-width: 375px) and (max-width: 766px){
    .main-banner{
        margin: 0px 0px 0px 0px; 
        padding: 0px;

        & .banner{
            width: 95%;
            height: 120px;
            margin-left: 7px; 
            padding: 0px;
            border-radius: 10px;

            & .img{
                border-radius: 10px;
            }

            & .title {
            width: 60%;
            font-size: 24px;
            margin-right: 80px; 
            } 
        }
    }
}

@media (min-width: 280px) and (max-width: 374px){
    .main-banner{
        margin: 0px 0px 0px 0px; 
        padding: 0px;

        & .banner{
            width: 95%;
            height: 120px;
            margin-left: 7px; 
            padding: 0px;
            border-radius: 10px;

            & .img{
                border-radius: 10px;
            }

            & .title {
            font-size: 18px; 
            } 
        }
    }
}
