@charset "UTF-8";
/*Desktop*/
.collapse {
  flex-direction: column;
  display: flex;
  padding: 0 6%;
  margin-top: 20px;
  width: 100%;
}
.collapse .header {
  justify-content: flex-end;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  height: 52px;
  display: flex;
  align-items: center;
  border: none;
}
.collapse .header .icon {
  padding-right: 20px;
  padding-left: 20px;
  height: 15px;
  cursor: pointer;
  transition: transform 0.5s ease; /* Effet visuel de rotation */
}
.collapse .header .rotate {
  transform: rotate(180deg);
}
.collapse .title {
  display: flex;
  margin: 7px 0px 0px 0px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  align-items: flex-start;
  padding-left: 18px;
  line-height: 142.6%;
  position: absolute;
}
.collapse .content-container {
  background-color: #F7F7F7;
  border-radius: 10px;
  display: flex;
  height: auto;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.collapse .content-container.slide-out {
  animation: slide-out 0.5s ease;
}
.collapse .content-container .fade-in {
  animation: fade-in 0.5s ease forwards;
}
.collapse .content-container .text {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FF6060;
  line-height: 142.6%;
  padding: 20px;
  transition: opacity 0.3s ease;
}

/*anime l'opacité et le défilement du texte*/
@keyframes fade-in {
  0% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/*Breakpoints*/
/* Tablette */
@media (min-width: 992px) and (max-width: 1199px) {
  .collapse {
    margin-top: 10px;
  }
  .collapse .title {
    font-size: 18px;
    margin-top: 15px;
    padding-left: 10px;
  }
  .collapse .header .icon {
    height: 15px;
  }
  .collapse .content-container .text {
    margin-top: 20px;
    font-size: 18px;
  }
}
/*Tablette en mode portrait*/
@media (min-width: 767px) and (max-width: 991px) {
  .collapse .title {
    font-size: 13px;
    margin-top: 15px;
    padding-left: 10px;
  }
  .collapse .header .icon {
    height: 10px;
  }
  .collapse .content-container .text {
    font-size: 15px;
  }
}
/*Mobile taille inférieure*/
@media (min-width: 375px) and (max-width: 766px) {
  .collapse {
    padding: 0px;
    margin: 0px;
  }
  .collapse .header {
    height: 30px;
    border-radius: 5px;
  }
  .collapse .title {
    font-size: 13px;
    margin-top: 5px;
    padding-left: 10px;
  }
  .collapse .header .icon {
    height: 10px;
  }
  .collapse .content-container .text {
    font-size: 13px;
  }
}
@media (min-width: 280px) and (max-width: 374px) {
  .collapse {
    padding: 0px;
  }
  .collapse .title {
    font-size: 13px;
    margin-top: 5px;
    padding-left: 10px;
  }
  .collapse .header {
    height: 30px;
    border-radius: 5px;
  }
  .collapse .header .icon {
    height: 10px;
  }
  .collapse .content-container .text {
    font-size: 13px;
  }
}/*# sourceMappingURL=collapse.css.map */