/* Desktop*/
.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title{
        display: flex;
        color: #FF6060;
        font-size: 288px;
        font-weight: 700;
        line-height: 410.69px;
    }

    & .text{
        display: flex;
        color: #FF6060;
        font-weight: 500;
        font-size: 36px;
        line-height: 51.34px;
    }   
}

.back-home{
    color: #FF6060;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    text-decoration-line: underline;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Breakpoints*/
/*Tablette en mode portrait*/
@media (min-width: 766px) and (max-width: 991px){
    .error-page{

        & .title{
            height: 300px;
            font-size: 96px;
            margin-bottom: 30px;
        }
    
        & .text{
            font-size: 18px;
            text-align: center;
        }  
    }

    .back-home{
        margin-top: 80px;
        margin-bottom: 80px;
    } 
}

/*Mobile taille inférieure*/
@media (min-width: 375px) and (max-width: 766px){
    .error-page{

        & .title{
            height: 300px;
            font-size: 96px;
            margin-bottom: 30px;
        }
    
        & .text{
            font-size: 18px;
            text-align: center;
        }  
    }

    .back-home{
        margin-top: 80px;
        margin-bottom: 80px;
    } 
}

@media (min-width: 280px) and (max-width: 374px){
    .error-page{

        & .title{
            height: 300px;
            font-size: 96px;
            margin-bottom: 30px;
        }
    
        & .text{
            font-size: 18px;
            text-align: center;
        }  
    }

    .back-home{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}